.container{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.mons{
    font-family: 'Yusei Magic', sans-serif;
}

.lilita{
    font-family: 'Lilita One', cursive;
}

.brand-name{
    font-size: 24px;
    color: #eeeeee;
    text-align: center;
    transition: transform 0.3s;
}

.brand-name:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.brand-date{
    font-size: 19px;
}

.top-nav{
    width: 85%;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    background-color: rgba(205, 208, 203, 1);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    font-size: 15px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.value{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 75%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

.bar{
    width: 750px;
    height: 750px;
}

.dropdown{
    width: 750px;
    height: 50px;
    font-size: 21px;
    color: #eeeeee;
    vertical-align: middle;
    margin: 25px;
}

.default-chart-container{
    width: 500px;
    height: 450px;
    margin: 15px;
}

.monthly{
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
    background-color: #30475e;
    transition: transform 0.3s;
}

.monthly:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.default-chart{
    margin: 5px;
    height: 300px;
}